.main{
    width: 100%;
}

.imagen{
    max-width: 7rem;
    min-width: 7rem;
    max-height: 8rem;
    min-height: 8rem;
}

.title{
    width: 8rem;
    font-size: 0.8rem;
}


.ul{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    place-content: center;
    gap: 1rem;
    
}

.li{
    display: grid;
    place-content: center;
    margin: 1rem;
    box-shadow: 0 4px 4px 4px rgb(0, 0, 0, 0.3);
    border-radius: 10px;
}

.texto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedorImagen{
    padding: 1rem;
    margin-bottom: 1rem;

}